upstream backends{
 server 127.0.0.1:8880;
 server 127.0.0.1:8881;
}
server {
 listen 8878;
 server_name localhost;
 location /favicon.ico {
  alias /var/www/favicon.ico;
 }
 location / {
  proxy_pass_header Server;
  proxy_set_header Host $http_host;
  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header X-Scheme $scheme;
  proxy_pass http://backends;
  proxy_next_upstream error;
 }
 access_log /var/log/nginx/tor.access_log;
 error_log /var/log/nginx/tor.error_log;
}
